/* Empty. Add your own CSS if you like */
/**
 * posts list style
 * 
 */
.posts .item-body h2:first-child {
	margin-top: 0;
}

.posts .item a, .posts .item a:hover, .posts .item a:focus {
	text-decoration: none;
}

/**
 * post detail style
 * 
 */
.post .item p.description {
	white-space: normal;
}